
name: test E2E

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.19.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          sudo apt install chromium-browser
          yarn install

      #    - name: Build
      #      run: yarn run build

      - name: Run stylelint
        run: yarn run stylelint

      - name: Run test
        run: LANG=ja_JP yarn run test:e2e
